openapi: 3.1.0
info:
  title: Zest API
  version: 1.0.0
paths:
  /tasks:
    post:
      summary: Create a new task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
              required:
                - message
      responses:
        201:
          description: Task created
  /statistics:
    get:
      summary: Get service statistics
      responses:
        200:
          description: Stats returned
